<!--  intialize angular js  -->
<html ng-app>
<head>
    <title>Angular Demo</title>
    <script type="text/javascript" src="js/lib/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular-resource.js"></script>
    <script type="text/javascript" src="js/controllers/app.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.css" />
</head>
<body>
<!--  give angular access to the controller & its objects  -->
<div class="container" ng-controller="AppCtrl">
    <h1>AngulAir</h1>

    <div class="container" ng-controller="AppCtrl">
        <h1>AngulAir</h1>
        <ul>
            <li ng-repeat="airport in airports">
                <a href="" ng-click="setAirport(airport.code)">{{airport.code}} - {{airport.city}}</a>
            </li>
        </ul>

        <!--  show object based on whether it is null or not  -->
        <p ng-show="currentAirport">Current airport: {{currentAirport.name}}</p>
    </div>

</div>


</body>
</html>